@use "sass:color";
$primary-color: #ffd700;
$secondary-color: #2f4f4f;
$chat-color1: #8b0000;
$chat-color2: $primary-color;
$chat-color3: $secondary-color;
$chat-color4: #40e0d0;
$text-color: #f5f5dc;
$background-color: #1c1c1c;
$shadow-color: rgba(0, 0, 0, 0.8);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Old English Text MT', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./img/background-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#fps {
    position: absolute;
    top: 2px;
    left: 2px;
    color: $primary-color;
    font-weight: bold;
    font-size: 1rem;
    z-index: 100;
    width: fit-content;
    height: 40px;
}

.bootMenu {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: rgba($background-color, 0.9);
    box-shadow: 0 0 15px $shadow-color;
    border-radius: 20px;
    animation: stagger-up 0.5s ease-in;

    #title {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 20px;
        color: $primary-color;
        text-shadow: 4px 4px 0 $shadow-color;
        animation: stagger-right 0.7s ease-in;
    }

    p {
        font-size: 1rem;
        margin-bottom: 5px;
        color: $text-color;
        font-weight: bold;
    }

    span {
        font-size: 0.9rem;
        color: $text-color;
        margin-bottom: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        #field {
            padding: 5px;
            width: 60%;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid $primary-color;
            background-color: $background-color;
            color: $text-color;
        }

        #submitBtn {
            padding: 10px;
            width: 120px;
            border: none;
            border-radius: 5px;
            background-color: $secondary-color;
            color: $text-color;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 1.2rem;

            &:hover {
                background-color: color.adjust($secondary-color, $lightness: 10%);
            }
        }
    }
}

#end-button,
#leave-button {
    z-index: 2;
    position: absolute;
    background-color: rgba($chat-color2, 0.9);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.2s;
    color: $text-color;
    font-weight: bold;
    font-size: 1rem;

    &:hover {
        background-color: rgba($chat-color2, 0.7);
        cursor: pointer;
        transform: scale(1.05);
    }
}

#end-button {
    right: 130px;
    margin-top: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

#leave-button {
    right: 10px;
    margin-top: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#end-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 400px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: $background-color;
    box-shadow: 0 0 15px $shadow-color;
    border-radius: 20px;

    #end-title {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 20px;
        color: $primary-color;
        text-shadow: 4px 4px 0 $shadow-color;
    }

    #end-prompt {
        font-size: large;
        font-weight: bolder;
        color: #FFD700;
    }

    .end {
        background-color: rgba($primary-color, 0.8);
        width: 100px;
        height: 30px;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 10px;
        color: $text-color;
        font-weight: bold;
        transition: background-color 0.3s;

        &:hover {
            background-color: color.adjust($primary-color, $lightness: 10%);
        }
    }
}

#game {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 650px;
    min-width: 300px;
    min-height: 300px;
    margin: auto;
    background-color: $background-color;
    box-shadow: 0 0 15px $shadow-color;
    border-radius: 20px;

    #lives-container {
        display: flex;
        flex-direction: row; /* Горизонтальне розташування елементів */
        justify-content: center; /* Центрування контейнера */
        align-items: center; /* Центрування по вертикалі */
        position: absolute;
        bottom: -50px; /* Відступ нижче межі карти */
        left: 50%; /* Центрування по горизонталі */
        transform: translateX(-50%); /* Вирівнювання по центру */
        width: auto; /* Динамічна ширина */
        background-color: rgba(0, 0, 0, 0.7); /* Темний напівпрозорий фон */
        padding: 5px 10px; /* Внутрішні відступи */
        border-radius: 10px; /* Округлені кути */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тінь */
        z-index: 200; /* Вищий пріоритет для відображення */

        p {
            text-align: center;
            padding: 10px;
            color: $text-color;
            font-weight: bold;
            margin-bottom: 10px;
        }

        ul {
            display: flex; /* Рядок для елементів списку */
            flex-direction: row; /* Горизонтальне розташування */
            list-style: none; /* Без стандартних маркерів */
            padding: 0;
            margin: 0;

            li {
                margin: 0 5px; /* Відстань між життями */
                padding: 5px 10px;
                border-radius: 5px; /* Округлені кути */
                background-color: rgba($primary-color, 0.8); /* Світлий фон */
                color: $text-color; /* Контрастний текст */
                font-size: 0.9rem; /* Зменшений шрифт */
                text-align: center;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Легка тінь */
                white-space: nowrap; /* Заборона переносу тексту */
            }
        }
    }
}

#waitingRoom {
    width: 70%;
    height: 80%;

    ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            padding: 10px;
            border-radius: 6px;
            width: 90%;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            background-color: rgba($primary-color, 0.8);
            color: $text-color;

            span {
                font-size: 1.5rem;
            }
        }
    }
}

.countDown {
    text-align: center;
    z-index: 1;
    margin-top: 30%;
    font-size: 5rem;
    color: $primary-color;
    text-shadow: 3px 3px 0 $shadow-color;
    animation: stagger-up 0.5s ease-in;
}

#playersCount {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: $text-color;
}

#chat {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: rgba($shadow-color, 0.6);

    #chat-box {
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        text-align: start;

        p {
            width: 100%;
            overflow-wrap: break-word;
        }

        .chat-element-join {
            background-color: rgba($chat-color4, 0.3);
            color: $chat-color4;
            padding: 3px;
            border-radius: 3px;
            text-align: center;
            margin-bottom: 3px;
            margin-top: 2px;
        }

        .chat-element-leave {
            background-color: rgba($chat-color1, 0.3);
            color: $chat-color1;
            padding: 3px;
            border-radius: 3px;
            text-align: center;
            margin-bottom: 3px;
            margin-top: 2px;
        }

        .chat-element {
            padding: 4px;
            color: $text-color;
            line-height: 25px;
            background-color: rgba($text-color, 0.5);
            margin-bottom: 3px;
            margin-top: 2px;
            border-radius: 8px;

            .chat-sender {
                color: $chat-color3;
                padding-bottom: 8px;
                padding-top: 8px;
            }
        }
    }

    form {
        position: relative;
        bottom: 0;
        width: 100%;
        padding: 10px 0;

        #chat-input {
            width: 100%;
            padding: 5px;
            height: 30px;
            border: 1px solid $primary-color;
            border-radius: 5px;
            background-color: $background-color;
            color: $text-color;

            &:focus {
                outline: none;
                overflow-wrap: break-word;
            }
        }
    }
}

#map {
    position: relative;
    width: 608px;
    height: 608px;
}

.line {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

#TabBomb {
    will-change: transform;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;

    div {
        position: absolute;
    }
}

.player-sprite {
    will-change: transform;
    position: absolute;
    z-index: 100;
    width: 32px;
    height: 32px;
}

.block-cover {
    position: absolute;
    z-index: 40;
}

.bomb,
.fire {
    will-change: transform;
}

@keyframes stagger-right {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes stagger-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
